[Desktop Entry]
Name=Quake
GenericName=q1
Exec=quakelaunch %f
Icon=quakelaunch
Type=Application
MimeType=application/x-quake;application/x-bsp-map;inode/directory;application/zip
Terminal=false
Categories=Game;
NoDisplay=false
X-GNOME-UsesNotifications=true
