[Desktop Entry]
Name=Quake mod cleanup
Exec=quakelaunch --cleanup %f
Type=Application
MimeType=application/x-quake;inode/directory
Terminal=false
Categories=Game;
NoDisplay=false
X-GNOME-UsesNotifications=true
